---
import userverPNGImage from "../assets/userver.png";
import userverWEBPImage from "../assets/userver.webp";
import gameWatchPNGImage from "../assets/gameWatch.png";
import gameWatchWEBPImage from "../assets/gameWatch.webp";
import { Code } from "astro:components";
import PortfolioCard from "./PortfolioCard.astro";
import List from "../../List.astro";
import Link from "../../Link.astro";
import PrettyParagraph from "../../PrettyParagraph.astro";
import { url } from "../../../utils/css";

const userverImageURLs = [
  url(userverWEBPImage.src),
  url(userverPNGImage.src),
].join(",");
const gameWatchImageURLs = [
  url(gameWatchWEBPImage.src),
  url(gameWatchPNGImage.src),
].join(",");
---

<style define:vars={{ userverImageURLs, gameWatchImageURLs }}>
  #portfolioSlider {
    display: none;
  }
  .slider {
    position: relative;
    overflow: hidden;
  }
  .slider-wrapper {
    display: flex;
    gap: 10px;
    position: relative;
    transition: all linear 0.3s;
  }
  .buttonsControl {
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 45;
  }
  .button {
    width: 48px;
    height: 48px;
  }
  .button-next {
    rotate: 180deg;
  }
  .tile_userver,
  .tile_tests {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .rondoCode {
    display: none;
  }

  @media (min-width: 432px) {
    .rondoCode {
      display: block;
    }
  }

  @media (min-width: 1440px) {
    #portfolio {
      grid-template-areas:
        "userver tests tests"
        "userver frontier frontier"
        "rondo bent courses"
        "landing .  .";
    }

    .tile_tests {
      min-height: 300px;
      background-image: var(--gameWatchImageURLs);
    }

    .tile_userver {
      min-height: 370px;
      background-image: var(--userverImageURLs);
    }
  }
</style>

<section id="portfolioSlider">
  <div class="slider">
    <div class="buttonsControl">
      <div class="button button-prev">
        <svg
          class="filter"
          fill="#000000"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.95 5.843L7.828 7.964l2.122 2.122L8.536 11.5 5 7.964 8.536 4.43 9.95 5.843zM8 16c-4.418 0-8-3.59-8-8 0-4.418 3.59-8 8-8 4.418 0 8 3.59 8 8 0 4.418-3.59 8-8 8zm0-2c3.307 0 6-2.686 6-6 0-3.307-2.686-6-6-6-3.307 0-6 2.686-6 6 0 3.307 2.686 6 6 6z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
      <div class="button button-next">
        <svg
          class="filter"
          fill="#000000"
          viewBox="0 0 16 16"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.95 5.843L7.828 7.964l2.122 2.122L8.536 11.5 5 7.964 8.536 4.43 9.95 5.843zM8 16c-4.418 0-8-3.59-8-8 0-4.418 3.59-8 8-8 4.418 0 8 3.59 8 8 0 4.418-3.59 8-8 8zm0-2c3.307 0 6-2.686 6-6 0-3.307-2.686-6-6-6-3.307 0-6 2.686-6 6 0 3.307 2.686 6 6 6z"
            fill-rule="evenodd"></path>
        </svg>
      </div>
    </div>
    <div class="slider-wrapper">
      {
        [
          {
            href: "https://userver.tech/",
            title: "Сайт документации userver",
            children: (
              <List>
                <li>- Верстка новой стартовой страницы</li>
                <li>- Улучшение дизайна сайта</li>
              </List>
            ),
          },
          {
            href: "https://github.com/atlz253/Frontend-test-solutions",
            title: "Выполненные тестовые задания по frontend",
          },
          {
            href: "https://github.com/atlz253/frontier",
            title: "Frontier",
            children: (
              <PrettyParagraph>
                JavaScript библиотека, которая помогает собирать модули системы
                без нарушения их границ
              </PrettyParagraph>
            ),
          },
          {
            href: "https://github.com/atlz253/Bent",
            title: "Bent code",
            children: (
              <>
                <PrettyParagraph>
                  Проект по созданию языка программирования и его транслятора на
                  основе flex и bison
                </PrettyParagraph>
                <Code
                  code={`print("Hello world!");

i = 0;
count = 100;

while(i <= count)
{
  if (i / 2 != 0)
  {
    print(i);
  }

  i = i + 1;
}`}
                  theme="github-light"
                />
              </>
            ),
          },
          {
            href: "https://github.com/atlz253/Rondo-neuronet-project",
            title: "Rondo neuronet project",
            children: (
              <>
                <PrettyParagraph>
                  Комплект программного обеспечения для обучения и использования
                  нейронной сети по распознаванию символов ZX Spectrum,
                  разработанный мной с нуля
                </PrettyParagraph>
                <Code
                  code={`> ./build/spchar selections/clear/C.png --show-precentage
Я думаю, что на изображении буква C
Если подробнее, то вот что я думаю об этом изображении:
Вероятность, что это буква C: 99.07%
Вероятность, что это буква D: 0.14%
Вероятность, что это буква O: 0.73%
Вероятность, что это буква Q: 0.05%
Вероятность, что это ни на что не похоже: 0.02%`}
                  lang="bash"
                  theme="github-light"
                  style="height: 100%"
                  class="rondoCode"
                />
              </>
            ),
          },
          {
            title: "Повышение квалификации",
            children: (
              <List>
                <li>
                  -{" "}
                  <Link href="https://certify.s3.yandex.net/young-yandex/84171cb4-693a-42ab-9988-9ffb7089049b/dcf3abad-17f5-4081-ba92-75e77f209b74.pdf">
                    Школа разработки интерфейсов Яндекс
                  </Link>
                </li>
                <li>
                  -{" "}
                  <Link href="https://www.freecodecamp.org/certification/atlz/javascript-algorithms-and-data-structures">
                    JavaScript Algorithms and Data Structures
                  </Link>
                </li>
              </List>
            ),
          },
          {
            title: "Этот сайт :)",
            children: (
              <List>
                <li>
                  - frontend на <Link href="https://astro.build/">astro</Link>
                </li>
                <li>
                  - инфраструктура на{" "}
                  <Link href="https://cloud.yandex.ru/">Yandex.Cloud</Link>
                </li>
              </List>
            ),
          },
        ].map(({ href, title, gridArea, children }) => (
          <PortfolioCard
            href={href}
            title={title}
            class:list={["tile", "tile_" + gridArea]}
          >
            {children}
          </PortfolioCard>
        ))
      }
    </div>
  </div>
</section>

<script>
  const slideCount = document.querySelectorAll(".slide").length;
  const slider = document.querySelector(".slider-wrapper");
  // Находим кнопки «Назад» и «Вперёд»
  const prevButton = document.querySelector(".button-prev");
  const nextButton = document.querySelector(".button-next");

  let currentIndex = 0; // Переменная для хранения текущего слайда
  // Функция смены слайдов
  function goToSlide(index) {
    let offsetWidth = slider.offsetWidth;
    if (index < 0) {
      index = slideCount - 1; // Если нажали «Назад» на первом слайде, переходим на последний
    } else if (index >= slideCount) {
      index = 0; // Если нажали «Вперёд» на последнем слайде, переходим на первый
    }
    currentIndex = index; // Запоминаем текущий слайд
    slider.style.transform = `translateX(${(-offsetWidth * 0.45 - 10) * currentIndex}px)`; // Сдвигаем контейнер со слайдами
  }

  // Добавляем обработчик клика для кнопки «Назад»
  prevButton.addEventListener("click", () => {
    goToSlide(currentIndex - 1);
  });

  // Добавляем обработчик клика для кнопки «Вперёд»
  nextButton.addEventListener("click", () => {
    goToSlide(currentIndex + 1);
  });
</script>
