---
import Card from "../../Card.astro";

interface Props {
  href?: string;
  title: string;
  [key: string]: unknown;
}

const { href, title, class: className, ...rest } = Astro.props;
---

<style>
  .slide {
    flex: 0 0 45%;
  }
  .portfolioCard {
    height: 100%;
    transition: background-color 0.3s linear;
  }

  .portfolioCard_slide {
    height: 100%;
  }

  a > .portfolioCard:hover {
    background-color: var(--color-grey-2);
  }
</style>

{
  href ? (
    <article class="slide">
      <a href={href}>
        <Card
          class:list={["portfolioCard", "portfolioCard_slide", className]}
          {...rest}
        >
          <h2>{title}</h2>
          <slot />
        </Card>
      </a>
    </article>
  ) : (
    <article class="slide">
      <Card
        class:list={["portfolioCard", "portfolioCard_slide", className]}
        {...rest}
      >
        <h2>{title}</h2>
        <slot />
      </Card>
    </article>
  )
}
