---
import Card from "../Card.astro";
import SocialMediaLinks from "../SocialMediaLinks/index.astro";
---

<style>
  .container {
    display: flex;
    justify-content: center;
    margin: var(--space-12);
  }

  .center {
    display: flex;
    gap: var(--space-10);
    flex-direction: column;
  }

  .name {
    font-size: 32px;
  }

  .posts {
    display: flex;
    font-size: 10px;
    font-weight: 500;
    color: var(--color-grey-8);
    justify-content: space-around;
  }

  @media (min-width: 520px) {
    .name {
      font-size: 56px;
    }

    .posts {
      font-size: 16px;
    }
  }
</style>

<Card>
  <div class="container">
    <div class="center">
      <h1 class="name">Федор Алексеев</h1>
      <ul class="posts">
        <li>Программный инженер</li>
        <li>|</li>
        <li>Web-разработчик</li>
        <li>|</li>
        <li>Музыкант</li>
      </ul>
      <SocialMediaLinks />
    </div>
  </div>
</Card>
