---
interface Props {
  href: string;
  [key: string]: unknown;
}

const { href, class: className, ...rest } = Astro.props;
---

<style>
  .link {
    color: var(--color-blue-5);
  }

  .link:hover {
    color: var(--color-blue-7);
  }
</style>

<a href={href} class:list={["link", className]} {...rest}><slot /></a>
