@layer ui;

@layer ui {
  .button,
  .button_size3 {
    padding: var(--space-4) var(--space-3);
  }

  .button {
    --button-color: var(--color-white);
    --button-background-color: var(--color-blue-5);

    cursor: pointer;
    user-select: none;
    display: inline-block;
    color: var(--button-color);
    border-radius: var(--space-2);
    -webkit-tap-highlight-color: transparent;
    border: 1px solid var(--button-background-color);
    background-color: var(--button-background-color);
    transition: background-color var(--transition-duration-1) ease;
  }

  .button:hover {
    --button-background-color: var(--color-blue-6);

    color: var(--button-color);
  }

  .button:active {
    --button-background-color: var(--color-blue-7);
  }

  .button_size1 {
    padding: var(--space-1);
  }

  .button_size2 {
    padding: var(--space-2);
  }

  .button_ghost {
    --button-background-color: rgba(0, 0, 0, 0.5);

    border: none;
    transition:
      opacity var(--transition-duration-2) ease,
      background-color var(--transition-duration-2) ease;
  }

  .button_ghost:hover {
    --button-background-color: rgba(0, 0, 0, 0.8);

    opacity: 1;
  }
}
