@layer ui;

@layer ui {
  .button,
  .button_size3 {
    padding: var(--space-4) var(--space-3);
  }

  .button {
    --button-color: var(--color-white);
    --button-background-color: var(--color-blue-5);
    cursor: pointer;
    display: inline-block;
    color: var(--button-color);
    border-radius: var(--space-2);
    border: 1px solid var(--button-background-color);
    background-color: var(--button-background-color);
    transition: background-color var(--transition-duration-1) ease;
  }

  .button:hover {
    --button-background-color: var(--color-blue-6);
  }

  .button:active {
    --button-background-color: var(--color-blue-7);
  }

  .button_size1 {
    padding: var(--space-1);
  }

  .button_size2 {
    padding: var(--space-2);
  }
}
