---
import Card from "../../Card.astro";

interface Props {
  href?: string;
  title: string;
  [key: string]: unknown;
}

const { href, title, class: className, ...rest } = Astro.props;
---

<style>
  .portfolioCard {
    height: 100%;
    transition: background-color var(--transition-duration-2) linear;
  }

  .portfolioCard :global(ul) {
    list-style: none;
    padding-inline-start: 0;
  }

  .portfolioCardWrapper {
    display: block;
    color: var(--color-black);
  }

  .portfolioCardWrapper > .portfolioCard:hover {
    background-color: var(--color-grey-2);
  }
</style>

{
  href ? (
    <a class:list={["portfolioCardWrapper", className]} href={href} {...rest}>
      <Card class="portfolioCard">
        <h2>{title}</h2>
        <slot />
      </Card>
    </a>
  ) : (
    <div class:list={["portfolioCardWrapper", className]} {...rest}>
      <Card class="portfolioCard">
        <h2>{title}</h2>
        <slot />
      </Card>
    </div>
  )
}
