---
import {
  BUTTON_SIZE_TO_CLASS,
  type ButtonSize,
} from "../../../styles/constants";

interface Props {
  href?: string;
  size?: ButtonSize;
  [key: string]: unknown;
}

const { size, href, class: className, ...rest } = Astro.props;
---

<a
  href={href}
  class:list={["button", size && BUTTON_SIZE_TO_CLASS[size], className]}
  {...rest}
>
  <slot />
</a>
