---
import Layout from "../components/Layout.astro";
import Head from "../components/Head.astro";

// TODO: Дизайн страницы 404
---

<html lang="ru">
  <head>
    <Head title={"Ошибка 404"} />
  </head>
  <Layout><p>Ошибка 404</p></Layout>
</html>
