---
import Layout from "../components/Layout.astro";
import Head from "../components/Head.astro";
import { getCollection } from "astro:content";
import NewsCard from "../features/viewNews/components/NewsCard/index.astro";
import { getNewsCardPreviewType } from "../features/viewNews/components/NewsCard/utils";

const musicNews = (await getCollection("musicNews")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
const autoplayNewsIds = new Set(
  musicNews
    .filter((news) => getNewsCardPreviewType(news.data) === "yandexVideos")
    .slice(0, 3)
    .map((news) => news.id),
);
---

<html lang="ru">
  <head>
    <Head title="Музыка" />
  </head>
  <Layout>
    <div id="musicNews" style="visibility: hidden;">
      {
        musicNews.map((news) => (
          <NewsCard news={news} autoplay={autoplayNewsIds.has(news.id)} />
        ))
      }
    </div>
  </Layout>
</html>

<script>
  import { autoUpdate, gap, meowsonry, preventFlick } from "meowsonry-layout";

  let cancelUpdate: undefined | (() => void);

  document.addEventListener("astro:page-load", () => {
    const container = document.querySelector("#musicNews") as HTMLElement;
    if (!container) return;
    cancelUpdate = autoUpdate(container, () =>
      meowsonry({ container, middleware: [preventFlick(), gap(8)] }),
    );
  });

  document.addEventListener("astro:before-preparation", () => cancelUpdate?.());
</script>
