---
import Layout from "../components/Layout.astro";
import Head from "../components/Head.astro";
import { getCollection } from "astro:content";
import NewsCard from "../features/viewNews/components/NewsCard/index.astro";

const musicNews = await getCollection("musicNews");
---

<html lang="ru">
  <head>
    <Head />
    <title>Музыка - Федор Алексеев</title>
  </head>
  <Layout>
    {musicNews.map((n) => <NewsCard>{n.data.title}</NewsCard>)}
  </Layout>
</html>
