---
import Layout from "../components/Layout.astro";
import Head from "../components/Head.astro";
---

<html lang="ru">
  <head>
    <Head />
    <title>Музыка - Федор Алексеев</title>
  </head>
  <Layout>
    <main style="padding: var(--space-12); text-align: center;">
      <h1>Музыка</h1>
      <p>Страница с музыкой находится в разработке.</p>
    </main>
  </Layout>
</html>