---
import Layout from "../components/Layout.astro";
import Head from "../components/Head.astro";
import { getCollection } from "astro:content";
import NewsCard from "../features/viewNews/components/NewsCard/index.astro";

const musicNews = (await getCollection("musicNews")).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
);
---

<html lang="ru">
  <head>
    <Head title="Музыка" />
  </head>
  <Layout>
    <div id="musicNews">
      {musicNews.map((n) => <NewsCard news={n} />)}
    </div>
  </Layout>
</html>

<script>
  import { autoUpdate, gap, meowsonry } from "meowsonry-layout";

  const container = document.querySelector("#musicNews") as HTMLElement;

  autoUpdate(container, () => {
    container.style.opacity = "0";
    meowsonry({ container, middleware: [gap(8)] });
    container.style.opacity = "";
  });
</script>
