---
import {
  BUTTON_SIZE_TO_CLASS,
  type ButtonSize,
} from "../../../styles/constants";

interface Props {
  size?: ButtonSize;
  variant?: "ghost";
  [key: string]: unknown;
}

const { size, variant, class: className, ...rest } = Astro.props;
---

<button
  class:list={[
    "button",
    size && BUTTON_SIZE_TO_CLASS[size],
    variant && `button_${variant}`,
    className,
  ]}
  {...rest}
>
  <slot />
</button>
