---
const { class: className, ...rest } = Astro.props;
---

<style>
  .card {
    display: flex;
    gap: var(--space-4);
    flex-direction: column;
    box-sizing: border-box;
    padding: var(--space-4);
    border: 1px solid var(--color-border);
    border-radius: var(--space-4);
    background-color: var(--color-bg-elevated);
  }
</style>

<div class:list={["card", className]} {...rest}>
  <slot />
</div>
