---
import GlobalStyles from "./GlobalStyles/index.astro";
import GoogleFonts from "./GoogleFonts.astro";
import YandexMetrika from "./Yandex/YandexMetrika.astro";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Это сайт Федора Алексеева, на котором он рассказывает о себе"
/>
<title>Федор Алексеев</title>
<YandexMetrika />
<GoogleFonts />
<GlobalStyles />
