---
import YandexMetrika from "./YandexMetrika/YandexMetrika.astro";
import YandexMetrikaCounter from "./YandexMetrika/YandexMetrikaCounter.astro";
import GlobalStyles from "./GlobalStyles.astro";
import GoogleFonts from "./GoogleFonts.astro";
---

<style>
  .main {
    display: flex;
    gap: var(--space-12);
    flex-direction: column;
  }
</style>

<GlobalStyles />
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Федор Алексеев</title>
    <YandexMetrika />
    <GoogleFonts />
  </head>
  <body>
    <main class="main">
      <slot />
    </main>
    <YandexMetrikaCounter />
  </body>
</html>
