---
import YandexMetrikaCounter from "./Yandex/YandexMetrikaCounter.astro";
import Fireworks from "./Fireworks/index.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<style>
  .main {
    display: flex;
    gap: var(--space-12);
    flex-direction: column;
  }
</style>

<body>
  <Header />
  <main class="main">
    <slot />
  </main>
  <Fireworks />
  <YandexMetrikaCounter />
  <Footer />
</body>
