---
import YandexMetrikaCounter from "./YandexMetrika/YandexMetrikaCounter.astro";
---

<style>
  .main {
    display: flex;
    gap: var(--space-12);
    flex-direction: column;
  }
</style>

<body>
  <main class="main">
    <slot />
  </main>
  <YandexMetrikaCounter />
</body>
