---
import YandexMetrika from "./astro/YandexMetrika/YandexMetrika.astro";
import YandexMetrikaCounter from "./astro/YandexMetrika/YandexMetrikaCounter.astro";
import GlobalStyles from "./GlobalStyles.astro";
import GoogleFonts from "./astro/GoogleFonts.astro";
---

<GlobalStyles />
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Федор Алексеев</title>
    <YandexMetrika />
    <GoogleFonts />
  </head>
  <body>
    <main>
      <slot />
    </main>
    <YandexMetrikaCounter />
  </body>
</html>
