---
const { class: className, ...rest } = Astro.props;
---

<style>
  .prettyParagraph {
    text-wrap: pretty;
    text-align: justify;
    line-height: 1.2;
  }
</style>

<p class:list={["prettyParagraph", className]} {...rest}><slot /></p>
